---
name: Build and push to ghcr.io

on:
  workflow_dispatch:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: '^1.17.13'

      - name: Run tests
        run: go test

      - name: Build
        run: go build

  publish_latest:
    if: github.ref == 'refs/heads/master'

    runs-on: ubuntu-latest
    needs:
      - test

    steps:
      - uses: actions/checkout@v3

      - name: publish master to latest
        uses: macbre/push-to-ghcr@master
        with:
          image_name: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: latest

  publish_release:
    if: startsWith(github.ref, 'refs/tags/v')

    runs-on: ubuntu-latest

    needs:
      - test

    steps:
      - uses: actions/checkout@v3

      - name: publish master to latest
        uses: macbre/push-to-ghcr@master
        with:
          image_name: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name}}
